



@model HomeModel

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<style type="text/css">
    #header {
        position: fixed;
        top: 0px;
        width: 100%;
        height: 50px; /* Height of the footer */
        padding: 10px 10px 10px 10px;
        padding-bottom: 0px;
        background-color: white;

    }

    .kotak {
        background-color: #7A2771BD;
        margin: 10px 20px 10px 20px;
        text-align: center;
        color: white;
        max-height: 375px;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
        .kotak p {
            font-family: 'Segoe UI';
            font-size: 12px;
            color: white;
            padding: 20px 30px 20px 30px;
            text-align: center;
        }

    .dot {
        height: 10px;
        width: 10px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        margin-left: 20px;
        background-color: #9C5E95;
    }

    .shadow {
        -moz-box-shadow: 3px 3px 5px 6px #ccc;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
    
    .harta-virtual {
        text-align: left;
        color: #9C5E95;
    }
        .harta-virtual .menu-container {
            margin: 10px 10px 10px 40px;
        }

    .menu-container button {
        margin-left: 10px;
        margin-top:10px;
        border-color: #9C5E95;
        max-height: 85px;
        padding: 10px 20px 10px 20px;
    }
    .harta-virtual .image-menu {
        max-width: 40px;
    }
        .harta-virtual p {
            color: #9C5E95;
            font-family: 'Segoe UI';
        }

    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 65px; /* Height of the footer */
        padding-top: 0px;
        padding-bottom: 0px;
        background-color: white;
    }
        #footer hr {
            background-color: #7A2771BD;
            height: 6px;
            margin-top: 0px;
            margin-bottom: 5px;
        }
        #footer p {
            float: left;
            color: #8E4586;
            margin-left: 10px;
            font-family: 'Segoe UI';
            font-weight: normal;
            font-size: 12px;
            max-width: 250px;
            padding: 10px 10px 10px 10px;
        }
        #footer a {
            background-color: #8E4586ED;
            text-align: center;
            color: white;
            margin: 10px 10px 0px 10px;
            padding: 10px 10px 10px 10px;
            float: right;
        }
        #footer .btn {
            vertical-align: central;
            bottom: 0;
            padding-left: 30px;
            padding-right: 30px;
            margin: 10px 10px 10px 10px;
        }
    
</style>
@if (Model.Error == null)
{
    if (ViewBag.device == "smartphone")
    {
        <div id="header" class="shadow">
            <a href="@Url.Action("Index","Home")" style="margin:10px 10px 10px 10px;"> 
                <span>
                    <i class="fa fa-real"></i>
                </span>
                Kembali
            </a>
        </div>
        <div class="kotak" style="margin-top:70px;">
            <p>
                Hmmm, Karena anda pengguna baru, anda harus memilih harta virtual anda, seperti Beras, Emas, Kambing atau lain nya untuk dapat bertransaksi barter secara modern, Topup dikit dulu aja nanti cincaylah kalo kurang ….
            </p>
        </div>
        <div class="harta-virtual">
            <span class="dot"></span>
            <p style="margin-top: -20px; margin-left: 40px;">Harta Virtual Barter Terpopuler</p>
            <div class="menu-container">
                <div class="row">
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                </div>
            </div>
        </div>

        <div class="kotak" style="margin-top:20px;">
            <p class="title">
                Atau kamu mau beli yang bisa dipelihara dulu seperti telur terus nanti kalo menetas ayam dan dipelihara, ayam nya jadi harta virtual kamu yang bisa ditransaksi untuk beli apa saja.
            </p>

        </div>

        <div class="harta-virtual">
            <span class="dot"></span>
            <p style="margin-top: -20px; margin-left: 40px;">Tetas,Pelihara dan Jadikan sampai menjadi Harta Virtual Barter</p>
            <div class="menu-container">
                <div class="row">
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                    <button class="btn btn-outline-light shadow">
                        <img src="~/Images/Icon/clipart4430.png" class="image-menu" />
                        <p>Ayam</p>
                    </button>
                </div>
            </div>
        </div>
        <br style="margin-bottom:200px;"/>
        <div id="footer" class="shadow">
            <a class="btn shadow" href="@Url.Action("Beranda","Home")">
                Beranda
            </a>
        </div>

    }
    else
    {
        <p>
            sorry belom support untuk laptop screen
        </p>
    }
}
else
{
    @await Html.PartialAsync("Error", Model.Error)
}
